/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global font and hide scrollbar */
* {
  font-family: 'Outfit', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

/* Hide scrollbar in Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Use Tailwind utility in components layer */
@layer components {
  .active hr {
    @apply block;
  }
}
